/*!
 * Body content
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-variant: small-caps;

  @include md() {
    font-size: 17px;
  }
  @include sm() {
    font-size: 16px;
  }
  @include xs() {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {

  @include md() {
    font-size: 150%;
  }
  @include sm() {
    font-size: 140%;
  }
  @include xs() {
    font-size: 130%;
  }
}

/* error if tags without attr */
img:not([alt]),
label:not([for]),
input[type=submit]:not([value]) {
  outline: 1px dotted red;
}

/* error if first child not used  */
ul > *:not(li),
ol > *:not(li),
dl > *:not(dt):not(dd) {
  outline: 1px dotted red;
}

input:focus, textarea, a, button {
  outline: none !important;
  //-webkit-appearance: none !important; //trouble with radiobutton
}

a, a:hover {
  color: $brown;
  transition: .3s;
}

.clearfix {

  &:after,
  &:before {
    content: "";
    display: table;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#back-to-top {
  color: $white;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  position: fixed;
  right: 10px;
  top: 0;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 999;

  &:hover {
    text-decoration: none;
  }
}

.scale {
  transition: .3s;

  &:hover {
    transition: .3s;
    transform: scale(1.05);
  }
}

.animate {
  transition: .3s;

  &:hover {
    transition: .3s;
  }
}

.title {
  font-size: 28px;
  padding-bottom: 5px;

  @include md() {
    font-size: 28px;
  }
  @include sm() {
    font-size: 26px;
  }
  @include xs() {
    font-size: 26px;
  }
}

.bg-grey {
  background: $grey;

  &.bg-waves {
    background: $grey url("../images/waves.png") -200px center no-repeat;
    background-size: inherit;
  }
}

.bg-waves {
  background: url("../images/waves.png") -300px center no-repeat;
  background-size: contain;
}

.bg-line-v {
  background: url("../images/line-v.gif") -30% 95% no-repeat;

  @include md() {
    background-position: -100% 95%;
  }
  @include sm() {
    background-position: -100% 115%;
  }
  @include xs() {
    background-position: 0% 110%;
  }
}

.bg-line-v-r {
  background: url("../images/line-v.gif") 85% 104% no-repeat;

  @include md() {
    background-position: 85% 104%;
  }
  @include sm() {
    background-position: 85% 102%;
  }
  @include xs() {
    background-position: 80% 102%;
  }
}

.borderbottom {
  border-bottom: 2px solid $brown
}

.borderbottombefore {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    display: block;
    bottom: 0;
    left: 0;
    background: $brown;
  }

  & .title {
    border-bottom: 2px solid $brown;
    width: fit-content;
  }
}

.photo {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-height: 460px;
  background: url(../images/photo-bg.jpg) top right no-repeat;
  margin-right: 20px;
  margin-bottom: 30px;

  @include sm() {
    background-size: contain;
  }
  @include xs() {
    background-size: contain;
    margin-bottom: 20px;
  }

  & img {
    position: absolute;
    right: -15px;
    top: 25px;
  }
}

.btn-more {
  font-size: 28px;
  border: 2px solid $brown;
  border-radius: 10px;
  padding: 5px 50px;
  color: $black;
  transition: .3s;

  @include md() {
    font-size: 26px;
    padding: 5px 45px;
  }
  @include sm() {
    font-size: 22px;
    padding: 5px 40px;
  }
  @include xs() {
    font-size: 18px;
    padding: 5px 30px;
  }

  &:hover {
    background: $brown;
    color: $white;
    transition: .3s;
  }

  &.read-article {
    width: 100%;
    text-transform: uppercase;
  }

  &.read-tag {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    background: $grey;
  }
}

.btn-cart {
  font-size: 26px;
  border: 2px solid $brown;
  border-radius: 10px;
  padding: 5px 40px;
  transition: .3s;
  text-transform: uppercase;

  &.btn-outline {
    color: $brown !important;

    &:hover {
      color: $black !important;
      background: none;
    }
  }

  @include md() {
    font-size: 24px;
  }
  @include sm() {
    font-size: 22px;
  }
  @include xs() {
    font-size: 18px;
  }

  &:hover {
    background: $brown;
    color: $white;
    transition: .3s;
  }
}

.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.invert.hvr-sweep-to-bottom {
  background: $brown !important;
  color: $white !important;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -80px;
  height: 80px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brown;
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 10px;
  transition: .3s;
}
.invert.hvr-sweep-to-bottom:before {
  background: $white;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: $white;
  text-shadow: 1px 2px 3px $black;
}
.invert.hvr-sweep-to-bottom:hover, .invert.hvr-sweep-to-bottom:focus, .invert.hvr-sweep-to-bottom:active {
  color: $brown !important;
  text-shadow: none;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  top: 0;
  transition: .3s;
}

.nav-tabs {
  border-bottom: 2px solid $brown;

  & .nav-item {
    margin-bottom: 0;

    & .nav-link {
      color: $black;

      &:hover, &:focus {
        border-color: $white;
      }

      &.active {
        border: none;
        color: $brown;
        font-weight: bold;
      }
    }
  }
}